.band-cards-container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.delete-band-btn {
  width: 10rem !important;
  margin: 0 auto;
}

.my-bands-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.bands-header {
  margin: 4rem 0 4rem 13rem;
}

#create-band-btn {
  margin: 4rem 0 0 14rem;
}

.my-bands-cards:hover {
  box-shadow: 0 0 0.3rem gray;
  cursor: pointer;
}

.search-filter-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.search-filter-header .form-select,
.search-filter-header .form-control {
  width: 20%;
}

.band-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  justify-items: center;
}
.band-cards-container .card:hover {
  box-shadow: 0 0 0.1rem grey;
  cursor: pointer;
}

@media (max-width: 768px) {
  .bands-header {
    margin: 4rem 0 4rem 1rem;
  }

  #create-band-btn {
    margin: 2rem 0 1rem 2rem;
  }

  .band-profile-container .card {
    margin: 1rem auto;
  }
  .search-filter-header {
    display: flex;
    flex-direction: column;
  }

  .search-filter-header .form-control,
  .search-filter-header .form-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .band-cards-container .card {
    margin: 0 auto;
  }

  .create-band-headers {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 982px) {
  .card-container .card {
    width: 75%;
  }
}
