.img-logo {
  width: 40rem;

  margin: 0 auto;
}

.welcome-card {
  margin: 0 auto;
}

.container-login {
  text-align: center;
}
.container-login .nav-link {
  width: max-content;
  margin: 0 auto;
}

.text-shadow {
  text-shadow: 0 0 0.1rem black;
}

.container-login .nav-link:hover {
  text-shadow: 0 0 0.1rem whitesmoke;
}

.form-login .form-control {
  width: 40%;
  margin: 1rem auto;
}

.genre-choices {
  width: 50%;
}

.form-check {
  text-align: left;
}
